{% include 'headers/student_header.html' %}

<!DOCTYPE html>
<html>

<body>
    <a class="btn btn-primary" href="db_register">Create</a>
    <form method ="post" action="/db_update">

        <table class="table">
            <thead>
                <th>Database Software</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Database Name</th>
                <th>Database Account Status</th>
                <th>Request status</th>
                <th>Action</th>
    
            </thead>
            <tbody>
    
                {% for row in value %}    
                       <tr>
                           <td>{{row.db_software}}</td>
                           <td>{{row.start_date}}</td>
                           <td>{{row.end_date}}</td>
                           <td>{{row.db_name}}</td>
                           <td>{{row.db_status}}</td>
                           <td>{{row.Request_status}}</td>
                           {% if row.Request_status == "Approved" %}<td>Database Approved</td>{% endif %}
                           <td>{% if row.Request_status == "Not Approved" %}
                               <button type="submit" name="delete" value="{{row.db_id}}">Delete</button>
                               <button type="submit" name="update" value="{{row.db_id}}">Update</button>
                           {% endif %}
                       </tr>
                   {% endfor %}
               </tbody>
        </table>
    </form> 
    
</body>

</html>