{% include 'headers/provider_header.html' %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>

<body>
   
    <form method ="post" action="/provider/database/update">

    <table class="table">
        <thead>
            <th>Applied Date</th>
            <th>Database</th>
            <th>User Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Database status</th>
            <th>Action</th>

        </thead>
        <tbody>

            {% for row in value %}    
                   <tr>
                       <td>{{row.applied_date}}</td>
                       <td>{{row.db_software}}</td>
                       <td>{{row.user_type}}</td>
                       {% if row.start_date == "NULL" %}<td>Not Approved </td>{% endif %}
                       {% if row.start_date != "" %}<td>{{row.start_date}}</td>{% endif %}
                       <td>{{row.end_date}}</td>
                       <td>{{row.db_status}}</td>
                       <td>{% if row.db_status != "Active" and  row.Request_status  != "Accepted" %}
                           <button type="submit" name="submit_a" value="{{row.db_id}}">Reject</button>
                       <button type="submit" name="submit_b" value="{{row.db_id}}">Approve</button></td>
                       {% endif %}
                   </tr>
               {% endfor %}
           </tbody>
    </table>
</form> 

</body>

</html>