{% include 'headers/provider_header.html' %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>

<body>

    <form method="post" action="/provider/database/details">

        <table class="table">
            <thead>
                <th>Student profile</th>
                <th>student Name</th>
                <th>Student Rollno</th>
                <th>Student Department</th>
                <th>Student Email ID</th>
                <th>Student Mobile</th>
                <th>Account Status</th>

            </thead>
            <tbody>

                {% for row in value %}
                <tr>
                    <td><img src="{{row.user_profile}}"/></td>
                    <td>{{row.name}}</td>
                    <td>{{row.rollno}}</td>
                    <td>{{row.department}}</td>
                    <td>{{row.email_id}}</td>
                    <td>{{row.mobile}}</td>
                    <td>{{row.account_status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

</body>

</html>