{% include 'headers/provider_template.html' %}
<!-- 
<!DOCTYPE html>
<html>

<head>
    <title>database Details</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
        type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
        html,
        body {
            min-height: 100%;
        }

        body,
        div,
        form,
        input,
        select,
        p {
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14px;
            color: #666;
        }

        h1 {
            margin: 0;
            font-weight: 400;
        }

        h3 {
            margin: 12px 0;
            color: #8ebf42;
        }

        .main-block {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
        }

        form {
            width: 100%;
            padding: 20px;
        }

        fieldset {
            border: none;
            border-top: 1px solid #8ebf42;
        }

        .account-details,
        .personal-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .account-details>div,
        .personal-details>div>div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .account-details>div,
        .personal-details>div,
        input,
        label {
            width: 100%;
        }

        label {
            padding: 0 5px;
            text-align: right;
            vertical-align: middle;
        }

        input {
            padding: 5px;
            vertical-align: middle;
        }

        .checkbox {
            margin-bottom: 10px;
        }

        select,
        .children,
        .gender,
        .bdate-block {
            width: calc(100% + 26px);
            padding: 5px 0;
        }

        select {
            background: transparent;
        }

        .gender input {
            width: auto;
        }

        .gender label {
            padding: 0 5px 0 0;
        }

        .bdate-block {
            display: flex;
            justify-content: space-between;
        }

        .birthdate select.day {
            width: 35px;
        }

        .birthdate select.mounth {
            width: calc(100% - 94px);
        }

        .birthdate input {
            width: 38px;
            vertical-align: unset;
        }

        .checkbox input,
        .children input {
            width: auto;
            margin: -2px 10px 0 0;
        }

        .checkbox a {
            color: #8ebf42;
        }

        .checkbox a:hover {
            color: #82b534;
        }

        button {
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px;
            border: none;
            background: #8ebf42;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }

        button:hover {
            background: #82b534;
        }

        @media (min-width: 568px) {

            .account-details>div,
            .personal-details>div {
                width: 50%;
            }

            label {
                width: 40%;
            }

            input {
                width: 60%;
            }

            select,
            .children,
            .gender,
            .bdate-block {
                width: calc(60% + 16px);
            }
        }
    </style>
</head>

<body>
    <div class="main-block">
        <form action="/provider/database/details" method="POST">
            <h1>Register DB console</h1>
            <fieldset>
                <legend>
                    <h3>Account Details</h3>
                </legend>

                <div class="account-details">
                    <div><label>Name</label><input type="text" name="name" value="{{data.name}}" disabled></div>
                    <div><label>Email</label><input type="text" value="{{data.email_id}}" disabled></div>
                    <div><label>Roll No</label><input type="text" name="name" value="{{data.rollno}}" disabled></div>
                    <div><label>User Type</label><input type="text" name="name" value="{{data.user_type}}" disabled>
                    </div>
                    <div><label>Contact</label><input type="text" name="name" value="{{data.mobile}}" disabled>

                    </div>
                    <div><label>department</label><input type="text" value="{{data.department}}" disabled></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h3>Database Details</h3>
                </legend>
                <div class="personal-details">
                    <div>
                        <div><label>Database </label>
                            <input type="text" value={{data.db_software}} disabled>
                        </div>
                        <div><label>Database Username</label><input type="text" value="{{data.rollno}}" disabled></div>
                        <div><label>Database Password</label><input type="text" value="{{data.db_password}}" disabled>
                        </div>
                        <div><label>Database Name</label><input type="text" value="{{data.db_name}}" disabled></div>
                        <div><label>Applied Date</label><input type="text" value="{{data.applied_date}}" disabled></div>

                    </div>
                    <div>
                        <div><label>From Date</label><input type="date" value="{{data.start_date}}" disabled></div>

                        <div><label>To Date</label><input type="date" value="{{data.end_date}}" disabled></div>

                        <div>
                            <label>Remark </label>
                            <input type="text" value="{{data.user_remark}}" rows="5" cols="60" disabled>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h3>Provider Remarks</h3>

                </legend>
                <div class="personal-details">

                    <div>
                        <label>Remark </label>
                        <textarea name="provider_remark" rows="5" cols="60" required></textarea>
                    </div>
                </div>
    

    </fieldset>
    {% if  data.Request_status  != "Approved" and  data.Request_status  != "Rejected" %}
    <fieldset>
        <legend>
            <h3>Terms and Mailing</h3>
        </legend>
        <div class="terms-mailing">
            <div class="checkbox">
                <input reqquired type="checkbox" name="checkbox"><span>I accept the <a
                        href="https://www.w3docs.com/privacy-policy">Privacy Policy for W3Docs.</a></span>
            </div>
            <div class="checkbox">
                <input required type="checkbox" name="checkbox"><span>I want to recelve personallzed offers by your
                    site</span>
            </div>
    </fieldset>
    

    <button type="submit" name="approve" value={{data.db_id}}>Approve</button>
    <button type="submit" name="reject" value={{data.db_id}}>Reject</button>
    {% endif %}
    <a type="button" class="btn btn-primary" href="/provider/database">BACK</a>
    </form>
    </div>
</body>

</html> -->




<!DOCTYPE html>
<html lang="en">


<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Page Heading -->
        <form action="/provider/database/details" method="POST">

        <div class="container-fluid" style="width: 1251px;max-width: none;min-width: 0px;">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3" style="margin-right: 0px;width: 0;margin-left: 0;">
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                                            last month</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xl-12 offset-xl-0" style="width: 833px;max-width: 172%;">
                                <div class="card shadow mb-3" style="width: 1200px;margin-left: 16px;">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                    </div>
                                    <div class="card-body" style="width: 1200px;">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="username"><strong>User
                                                            Name</strong></label><input class="form-control" type="text"
                                                        id="username" placeholder="user name" value="{{data.name}}"
                                                        name="username" disabled></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="email"><strong>Email
                                                            Address</strong></label><input class="form-control"
                                                        type="email" id="email" placeholder="Email ID"
                                                        value="{{data.email_id}}" name="email"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="first_name"><strong>Rollno</strong></label><input
                                                        class="form-control" type="text" id="first_name"
                                                        placeholder="Roll no" value="{{data.rollno}}" name="first_name">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="last_name"><strong>User
                                                            Type</strong></label><input class="form-control" type="text"
                                                        id="last_name" placeholder="User Type"
                                                        value="{{data.user_type}}" name="last_name"></div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin: 4px;margin-top: 7px;"><button
                                                class="btn btn-primary btn-sm" type="submit">View Details</button></div>
                                    </div>
                                </div>
                                <div class="card" style="width: 1204px;margin-left: 16px;">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Account Details</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group"><label
                                                for="address"><strong>Databases&nbsp;</strong></label><input
                                                class="form-control" type="text" id="address" placeholder="Db software"
                                                value="{{data.db_software}}" name="address"></div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="city"><strong>Username</strong></label><input
                                                        class="form-control" type="text" id="city" placeholder="Rollno"
                                                        value="{{data.rollno}}" name="city"></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="country"><strong>Password</strong></label><input
                                                        class="form-control" type="text" id="country"
                                                        placeholder="Password" value="{{data.db_password}}"
                                                        name="country"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow" style="width: 1200px;margin-top: 17px;margin-left: 16px;">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Database Details</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="city"><strong>Database
                                                            Name</strong></label><input class="form-control" type="text"
                                                        id="city" value="{{data.db_name}}" placeholder="Database Name"
                                                        name="city"></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="country"><strong>From
                                                            Date</strong></label><input class="form-control" type="text"
                                                        id="country" placeholder="From Date" value="{{data.start_date}}"
                                                        name="country"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="city"><strong>Applied
                                                            Date</strong></label><input class="form-control" type="text"
                                                        id="city-1" placeholder="Los Angeles"
                                                        value="{{data.applied_date}}" name="city"></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="country"><strong>To
                                                            Date</strong></label><input class="form-control" type="text"
                                                        id="country-1" placeholder="tp Date" value="{{data.end_date}}"
                                                        name="country"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-11"
                                            style="padding-left: 0px;width: 647.5px;margin-right: 44px;">
                                            <div class="form-group"><label for="signature"
                                                    style="margin-left: 1px;"><strong>Remark</strong><br></label><textarea
                                                    class="form-control" id="signature"
                                                    placeholder="{{data.user_remark}}" rows="4" name="signature"
                                                    style="margin-right: 47px;"></textarea></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5"
                    style="margin-left: 26px;padding-left: 0px;width: 1200px;margin-right: 14px;">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Provider Details</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"><label for="signature"><strong>Provider
                                            Remark</strong><br></label><textarea class="form-control" id="signature"
                                        rows="4" name="provider_remark" required></textarea></div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch"><input class="custom-control-input"
                                            type="checkbox" id="formCheck-1" required><label
                                            class="custom-control-label" for="formCheck-1"><strong>Notify me about new
                                                replies</strong></label></div>
                                </div>
                                <div class="form-group">
                                    {% if  data.Request_status  != "Approved" and  data.Request_status  != "Rejected" %}

                                    <button class="btn btn-success btn-sm" name="approve" value="{{data.db_id}}"type="submit">Approve</button>
                                    <button class="btn btn-danger btn-sm" name="reject" value="{{data.db_id}}" type="submit">Reject</button>
                                    {% endif %}


                                    <a href="/provider/database" class="btn btn-primary btn-sm" type="button"
                                        style="margin-left: 32px;padding-left: 18px;padding-right: 17px;">Close</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
    </form>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->





    <!-- Add Modal-->
    <div id="add_data_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Insert Course</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_form">
                        <label>select Subject Name</label>
                        <!-- <input type="text" name="sname" id="name" class="form-control" /> -->
                        <select name="subjectid" id="status" class="form-control">
                            {% for rows in subject %}
                            <option value="{{rows.subject_id}}">{{rows.subject_name}}</option>
                            {% endfor %}

                        </select></td>
                        <br />

                        <label>Enter Course Name</label>
                        <input type="text" name="cname" id="name" class="form-control" />
                        <br />

                        <label>select Course Grade</label>
                        <select name="grade" id="status" class="form-control">
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                            <option value="5">V</option>
                            <option value="6">VI</option>
                            <option value="7">VII</option>
                            <option value="8">VIII</option>
                            <option value="9">IX</option>
                            <option value="10">X</option>
                            <option value="11">XI</option>
                            <option value="12">XII</option>
                        </select></td>
                        <br />

                        <label>Enter Course Duration(in Min)</label>
                        <input type="number" name="duration" id="name" class="form-control" />
                        <br />

                        <label>Enter No of Sessions</label>
                        <input type="number" name="session" id="name" class="form-control" />
                        <br />

                        <!-- <label>Status</label> 
                            <select name="status" id="status" class="form-control">
								<option value="Opened">Opened</option>
								<option value="closed">Closed</option>
							</select></td> 
     <br /> -->

                        <label>Enter Course Description</label>
                        <textarea name="coursedes" id="address" class="form-control"></textarea>
                        <br />
                </div>

                <div class="modal-footer">
                    <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Update table modal-->

    <div id="dataModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Course Details</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form method="post" id="update_form">
                            <table class="table table-bordered">
                                <input type="hidden" class="form-control" id="course_id" name="course_id">>
                                <tr>
                                    <td width="30%"><label>Subject Name</label></td>
                                    <td width="70%"><input type="text" class="form-control" id="subject_name" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Name</label></td>
                                    <td width="70%"><input type="text" class="form-control" name="course_name"
                                            id="course_name"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Grade</label></td>
                                    <td width="70%"><input type="number" class="form-control" id="course_grade"
                                            disabled></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Duration</label></td>
                                    <td width="70%"><input type="number" class="form-control" name="course_duration"
                                            id="course_duration">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>No of Sessions</label></td>
                                    <td width="70%"><input type="number" class="form-control" name="no_of_session"
                                            id="no_of_session"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Status</label></td>
                                    <td width="70%"><select name="status" id="mySelect" class="form-control">
                                            <option value="open">Opened</option>
                                            <option value="close">Closed</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Description</label></td>
                                    <td width="70%"><textarea type="text" class="form-control" name="course_description"
                                            id="course_description"></textarea>
                                    </td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <input type="submit" name="update" id="update" value="Update" class="btn btn-success" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>

                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <script>
                swal("{{message}}", "Course Deleted Successfully !", "success");
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <script>
                $(document).ready(function () {
                    $('#insert_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/data_entry/course",
                            method: "POST",
                            data: $('#insert_form').serialize(),
                            beforeSend: function () {
                                $('#insert').val("Inserting");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    swal("Data is submitted successfully!",
                                        "New Course is Created", "success");

                                    var delayInMilliseconds = 6500; //1 second

                                    setTimeout(function () {
                                        window.location.href = "/data_entry/course";
                                    }, delayInMilliseconds);

                                }
                                if (data == 'error') {
                                    console.log('error')
                                    swal("Data is not Submitted!",
                                        "Error in submitting Data",
                                        "error");
                                    window.location.href = "/data_entry/course";
                                }
                            }
                        });

                    });

                    $('#update_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/data_entry/course/change",
                            method: "POST",
                            data: $('#update_form').serialize(),
                            beforeSend: function () {
                                $('#update').val("Updating");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    console.log('success')
                                    window.location.href = "/data_entry/course";
                                }
                            }
                        });

                    });


                    $(document).on('click', '.view_data', function () {
                        var course_id = $(this).attr("id");
                        $.ajax({
                            url: "/data_entry/course/select",
                            method: "POST",
                            data: {
                                course_id: course_id
                            },
                            success: function (data) {
                                $('#dataModal').modal('show');
                                var data_rs = JSON.parse(data);
                                $('#course_id').val(data_rs[0]['course_id']);

                                $('#subject_name').val(data_rs[0]['subject_name']);
                                $('#course_name').val(data_rs[0]['course_name']);
                                $('#course_grade').val(data_rs[0]['course_grade']);
                                $('#course_duration').val(data_rs[0]['course_duration']);
                                $('#no_of_session').val(data_rs[0]['no_of_session']);
                                document.getElementById("mySelect").value = data_rs[0][
                                    'status'
                                ];
                                // $('#status').val(data_rs[0]['status']);
                                $('#course_description').val(data_rs[0][
                                    'course_description']);

                            }
                        });
                    });
                });
            </script>



</body>

</html>