{% include 'headers/provider_template.html' %}
<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>

<body>

    <form method="post" action="/provider/database/details">

        <table class="table">
            <thead>
                <th>Applied Date</th>
                <th>Database</th>
                <th>User Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Database status</th>
                <th>Request status</th>

                <th>Action</th>

            </thead>
            <tbody>

                {% for row in value %}
                <tr>
                    <td>{{row.applied_date}}</td>
                    <td>{{row.db_software}}</td>
                    <td>{{row.user_type}}</td>
                    {% if row.start_date == "NULL" %}<td>Not Approved </td>{% endif %}
                    {% if row.start_date != "" %}<td>{{row.start_date}}</td>{% endif %}
                    <td>{{row.end_date}}</td>
                    <td>{{row.db_status}}</td>
                    <td>{{row.Request_status}}</td>

                    <td><button type="submit" name="submit_a" value="{{row.db_id}}">View Details</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

</body>

</html>


 -->


<!DOCTYPE html>
<html lang="en">


<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->



    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Course Table</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Course Table

                    <div class="my-2" style="float:right;">
                        <BUTTON href="#" class="btn btn-info btn-icon-split" data-toggle="modal"
                            data-target="#add_data_Modal">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Add</span>
                        </button>
                    </div>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" action="/provider/database/details">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Applied Date</th>
                <th>Database</th>
                <th>User Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Database status</th>
                <th>Request status</th>

                <th>Action</th>


                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Applied Date</th>
                                    <th>Database</th>
                                    <th>User Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Database status</th>
                                    <th>Request status</th>
                    
                                    <th>Action</th>
                    
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for row in value %}
                                <tr>
                                    <td>{{row.applied_date}}</td>
                                    <td>{{row.db_software}}</td>
                                    <td>{{row.user_type}}</td>
                                    {% if row.start_date == "NULL" %}<td>Not Approved </td>{% endif %}
                                    {% if row.start_date != "" %}<td>{{row.start_date}}</td>{% endif %}
                                    <td>{{row.end_date}}</td>
                                    <td>{{row.db_status}}</td>
                                    <td>{{row.Request_status}}</td>
                
                                    <td><button type="submit" name="submit_a" value="{{row.db_id}}">View Details</button></td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>




    <!-- Add Modal-->
    <div id="add_data_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Insert Course</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_form">
                        <label>select Subject Name</label>
                        <!-- <input type="text" name="sname" id="name" class="form-control" /> -->
                        <select name="subjectid" id="status" class="form-control">
                            {% for rows in subject %}
                            <option value="{{rows.subject_id}}">{{rows.subject_name}}</option>
                            {% endfor %}

                        </select></td>
                        <br />

                        <label>Enter Course Name</label>
                        <input type="text" name="cname" id="name" class="form-control" />
                        <br />

                        <label>select Course Grade</label>
                        <select name="grade" id="status" class="form-control">
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                            <option value="5">V</option>
                            <option value="6">VI</option>
                            <option value="7">VII</option>
                            <option value="8">VIII</option>
                            <option value="9">IX</option>
                            <option value="10">X</option>
                            <option value="11">XI</option>
                            <option value="12">XII</option>
                        </select></td>
                        <br />

                        <label>Enter Course Duration(in Min)</label>
                        <input type="number" name="duration" id="name" class="form-control" />
                        <br />

                        <label>Enter No of Sessions</label>
                        <input type="number" name="session" id="name" class="form-control" />
                        <br />

                        <!-- <label>Status</label> 
                            <select name="status" id="status" class="form-control">
								<option value="Opened">Opened</option>
								<option value="closed">Closed</option>
							</select></td> 
     <br /> -->

                        <label>Enter Course Description</label>
                        <textarea name="coursedes" id="address" class="form-control"></textarea>
                        <br />
                </div>

                <div class="modal-footer">
                    <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Update table modal-->

    <div id="dataModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Course Details</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form method="post" id="update_form">
                            <table class="table table-bordered">
                                <input type="hidden" class="form-control" id="course_id" name="course_id">>
                                <tr>
                                    <td width="30%"><label>Subject Name</label></td>
                                    <td width="70%"><input type="text" class="form-control"  id="subject_name" disabled></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Name</label></td>
                                    <td width="70%"><input type="text" class="form-control" name="course_name" id="course_name"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Grade</label></td>
                                    <td width="70%"><input type="number" class="form-control" id="course_grade" disabled></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Duration</label></td>
                                    <td width="70%"><input type="number" class="form-control" name="course_duration" id="course_duration">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>No of Sessions</label></td>
                                    <td width="70%"><input type="number" class="form-control" name="no_of_session" id="no_of_session"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Status</label></td>
                                    <td width="70%"><select name="status" id="mySelect" class="form-control">
                                            <option value="open">Opened</option>
                                            <option value="close">Closed</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Course Description</label></td>
                                    <td width="70%"><textarea type="text" class="form-control" name="course_description" id="course_description"></textarea>
                                    </td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <input type="submit" name="update" id="update" value="Update" class="btn btn-success" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>

                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <script>
                swal("{{message}}", "Course Deleted Successfully !", "success");
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <script>
                $(document).ready(function () {
                    $('#insert_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/data_entry/course",
                            method: "POST",
                            data: $('#insert_form').serialize(),
                            beforeSend: function () {
                                $('#insert').val("Inserting");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    swal("Data is submitted successfully!",
                                        "New Course is Created", "success");

                                    var delayInMilliseconds = 6500; //1 second

                                    setTimeout(function () {
                                        window.location.href = "/data_entry/course";
                                    }, delayInMilliseconds);

                                }
                                if (data == 'error') {
                                    console.log('error')
                                    swal("Data is not Submitted!",
                                        "Error in submitting Data",
                                        "error");
                                    window.location.href = "/data_entry/course";
                                }
                            }
                        });

                    });

                    $('#update_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/data_entry/course/change",
                            method: "POST",
                            data: $('#update_form').serialize(),
                            beforeSend: function () {
                                $('#update').val("Updating");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    console.log('success')
                                    window.location.href = "/data_entry/course";
                                }
                            }
                        });

                    });


                    $(document).on('click', '.view_data', function () {
                        var course_id = $(this).attr("id");
                        $.ajax({
                            url: "/data_entry/course/select",
                            method: "POST",
                            data: {
                                course_id: course_id
                            },
                            success: function (data) {
                                $('#dataModal').modal('show');
                                var data_rs = JSON.parse(data);
                                $('#course_id').val(data_rs[0]['course_id']);

                                $('#subject_name').val(data_rs[0]['subject_name']);
                                $('#course_name').val(data_rs[0]['course_name']);
                                $('#course_grade').val(data_rs[0]['course_grade']);
                                $('#course_duration').val(data_rs[0]['course_duration']);
                                $('#no_of_session').val(data_rs[0]['no_of_session']);
                                document.getElementById("mySelect").value = data_rs[0]['status'];
                                // $('#status').val(data_rs[0]['status']);
                                $('#course_description').val(data_rs[0]['course_description']);
                                    
                            }
                        });
                    });
                });
            </script>



</body>

</html>