<html>
<head>
    <body>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>email</th>
                <th>verified email</th>
                <th>name</th>
                <th>Given name</th>
                <th>family name</th>
                <th>picture</th>
                <th>locale</th>
                <th>Department</th>
            </tr>
            </thead>
            <tbody>
            <td>{{resp['id']}}</td>
            <td>{{resp['email']}}</td>
            <td>{{resp['verified_email']}}</td>
            <td>{{resp['name']}}</td>
            <td>{{resp['given_name']}}</td>
            <td>{{resp['family_name']}}</td>
            <td><img src="{{resp['picture']}}"></img></td>
            <td>{{resp['locale']}}</td>
            <th>{{a}}</th>
        </tr>
       
<p>hi</p>
         
    </tbody>
</table>